@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'NeonCal';
  src: url('./assets/resources/fonts/Android101-El3e.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* For AppBar */
.draggable {
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

.undraggable {
  -webkit-app-region: no-drag;
}

#div_main_bg {
  background-color: black;
  background-image: radial-gradient(rgb(65, 65, 65) 1px, transparent 0);
  background-size: 20px 20px;
  background-position: -20px -20px;
}

#p_label_splash {
  color: white;
  /* position: absolute; */
  font-size: 20px;
  font-family: NeonCal;
  text-shadow: 0px 0px 10px transparent;
  cursor: pointer;
  margin: 0;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.fontNeon {
  font-family: NeonCal;
}

.neonBoxShadow {
  box-shadow: 0px 0px 30px transparent, inset 0px 0px 70px transparent;
}

#div_inner_neon {
  background-color: transparent;
  width: 95%;
  height: 95%;
  max-width: 180px;
  max-height: 180px;
  border-radius: 180px;
  border-top: solid 5px transparent;
  border-left: solid 5px transparent;
  border-right: solid 5px transparent;
  border-bottom: solid 5px transparent;
  border-right-style: dashed;
  border-bottom-style: dashed;
  display: flex;
  justify-content: center;
  align-items: center;
  /* box-shadow: -10px 0px 30px white, inset 7px 7px 15px white; */
}

#div_inner2_neon {
  background-color: transparent;
  width: 95%;
  height: 95%;
  max-width: 155px;
  max-height: 155px;
  border-radius: 155px;
  border-top: solid 5px white;
  border-left: solid 5px white;
  border-right: solid 5px white;
  border-bottom: solid 5px white;
  border-top-style: dashed;
  display: flex;
  justify-content: center;
  align-items: center;
  /* box-shadow: -10px 0px 30px white, inset 7px 7px 15px white; */
}

#div_neon_stable_inner {
  background-color: transparent;
  width: 95%;
  height: 95%;
  max-width: 130px;
  max-height: 130px;
  border-radius: 130px;
  border-top: solid 0px white;
  border-left: solid 0px white;
  border-right: solid 0px white;
  border-bottom: solid 0px white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  /* border-style: dashed; */
}

#p_label_neon {
  color: grey;
  position: absolute;
  font-size: 20px;
  font-family: NeonCal;
  text-shadow: 0px 0px 10px transparent;
  cursor: pointer;
}

#div_startup_cmd {
  background-color: transparent;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: calc(90% - 20px);
  max-width: 500px;
  height: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-end;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-left: 10px;
  padding-right: 10px;
}

.p_startup_cmd {
  margin: 0px;
  color: white;
  font-size: 15px;
  font-family: NeonCal;
  width: 100%;
}

.bg_semi_transparent {
  background-color: rgba(40, 40, 40, 0.5);
}

#div_neon_interface_home {
  background-color: transparent;
  width: 90%;
  height: 90%;
  max-width: 210px;
  max-height: 210px;
  border-radius: 210px;
  border: solid 3px transparent;
  box-shadow: 0px 0px 30px transparent, inset 0px 0px 70px transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  /* scale: 0; */
}

#div_inner_neon_home {
  background-color: transparent;
  width: 95%;
  height: 95%;
  max-width: 180px;
  max-height: 180px;
  border-radius: 180px;
  border-top: solid 5px transparent;
  border-left: solid 5px transparent;
  border-right: solid 5px transparent;
  border-bottom: solid 5px transparent;
  border-right-style: dashed;
  border-bottom-style: dashed;
  display: flex;
  justify-content: center;
  align-items: center;
  /* box-shadow: -10px 0px 30px white, inset 7px 7px 15px white; */
}

#div_inner2_neon_home {
  background-color: transparent;
  width: 95%;
  height: 95%;
  max-width: 155px;
  max-height: 155px;
  border-radius: 155px;
  border-top: solid 5px white;
  border-left: solid 5px white;
  border-right: solid 5px white;
  border-bottom: solid 5px white;
  border-top-style: dashed;
  display: flex;
  justify-content: center;
  align-items: center;
  /* box-shadow: -10px 0px 30px white, inset 7px 7px 15px white; */
}

#div_neon_stable_inner_home {
  background-color: transparent;
  width: 95%;
  height: 95%;
  max-width: 130px;
  max-height: 130px;
  border-radius: 130px;
  border-top: solid 0px white;
  border-left: solid 0px white;
  border-right: solid 0px white;
  border-bottom: solid 0px white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  /* border-style: dashed; */
}

#p_label_neon_home {
  color: grey;
  position: absolute;
  font-size: 20px;
  font-family: NeonCal;
  text-shadow: 0px 0px 10px transparent;
  cursor: pointer;
}

#div_taskbar_container {
  background-color: transparent;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: calc(100% - 10px);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 10px;
  /* height: calc(100% - 115px); */
}

#div_taskbar {
  background-color: transparent;
  position: absolute;
  z-index: 1;
  width: 100%;
  max-width: 700px;
  height: 50px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  /* height: calc(100% - 115px); */
}

#div_menusearch_portion {
  background-color: rgba(40, 40, 40, 0.8);
  width: 100%;
  height: 50px;
  max-width: 100px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#div_tasks_portion {
  background-color: rgba(40, 40, 40, 0.8);
  /* width: 100%;
    max-width: 100px; */
  height: 50px;
  border-radius: 5px;
  flex: 1;
  display: flex;
  flex-direction: row;
  gap: 5px;
  padding-left: 7px;
  padding-right: 7px;
}

#div_accessibilities {
  background-color: rgba(40, 40, 40, 0.8);
  width: 100%;
  max-width: 30px;
  height: 50px;
  border-radius: 5px;
  flex: 1;
  display: flex;
  flex-direction: row;
}

#div_dateTimeBattery {
  background-color: rgba(40, 40, 40, 0.8);
  width: 100%;
  max-width: 100px;
  height: 50px;
  border-radius: 5px;
  flex: 1;
  display: flex;
  flex-direction: row;
}

.btns_taskbar {
  width: 40px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: relative;
}

.btn_accessibilities {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: relative;
  gap: 5px;
}

#div_battery_tb_container {
  background-color: transparent;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#div_battery_total_container {
  background-color: grey;
  border-radius: 3px;
  border: solid 0px white;
  height: 100%;
  max-height: 25px;
  width: 100%;
  max-width: 12px;
  display: flex;
  /* padding: 0px; */
  justify-content: center;
  align-items: flex-end;
}

#div_battery_level {
  background-color: white;
  width: 100%;
  border-radius: 3px;
}

#div_charging_label {
  position: absolute;
  /* top: 0; */
  bottom: 15px;
}

#div_datetime_tb_container {
  background-color: transparent;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding-left: 0px;
  padding-right: 7px;
}

.span_datetime_label {
  font-size: 9px;
  color: white;
  font-family: NeonCal;
  user-select: none;
}

#div_confirmexit_container {
  /* background-color: rgba(255, 255, 255, 0.8); */
  background-color: rgba(40, 40, 40, 0.8);
  width: 90%;
  max-width: 250px;
  position: absolute;
  bottom: -1000px;
  /* left: 360px; */
  display: flex;
  flex-direction: column;
  padding: 10px;
  color: white;
  z-index: 2;
  border-radius: 5px;
}

#div_confirmexit_header {
  background-color: transparent;
  width: 100%;
  padding-bottom: 10px;
}

#p_confirmexit_label {
  font-size: 13px;
  margin: 0px;
  font-family: NeonCal;
}

#div_confirmexit_body {
  background-color: transparent;
  width: 100%;
  padding-bottom: 10px;
}

#div_confirmexit_body_content {
  font-size: 10px;
  font-family: NeonCal;
}

#div_confirmexit_navigations {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.btn_confirmexit {
  width: 100px;
  font-size: 12px;
  font-family: NeonCal;
  cursor: pointer;
}

.btn_confirmexit:first-of-type {
  background-color: white;
  color: black;
}

.btn_confirmexit:nth-of-type(2) {
  background-color: red;
  color: white;
}
